@model ReflectionIT.Mvc.Paging.PagingList<Events>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron text-center header">
    <h1 class="display-4 header-text">Manage Upcoming Events</h1>

</div>
<div class="row">
    <div class="col-12">
        <a class="btn btn-info" asp-area="Admin" asp-controller="Events" asp-action="Create">Add New Event  </a>
    </div>
</div>
<br />
<nav aria-label="Events Paging">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>
<div>
    <table class="table table-striped border moveInLeftEffect">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(m => m.Name)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Details)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.StartingTime)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.EndingTime)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.Location)
            </th>
            <th>
            </th>
            <th>

            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Details)
                </td>
                <td>
                    @Html.DisplayFor(m => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(m => item.StartingTime)
                </td>
                <td>
                    @Html.DisplayFor(m => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(m => item.EndingTime)
                </td>
                <td>
                    @Html.DisplayFor(m => item.Location)
                </td>
                <td>
                    <partial name="_TableButtonPartial" model="item.Id" />
                </td>
            </tr>
        }
    </table>
    <vc:pager paging-list="@Model" />
</div>
